<form action="/login" method="POST">

	<input type="text" name="user_email" placeholder="Enter your email"><br>

	<input type="password" name="user_password"
	placeholder="Enter your password"><br>

	<button type="submit">Login</button>

</form>